@media only screen and (max-width:640px) {
    .product__left {
        width: 100%;
        margin-bottom: 10px;
        .product__left__content {
            img {
                max-width: 200px;
            }
        }
        .add_to_cart {
            font-size: 10px;
        }
        padding:1rem;
    }
    .product__right {
        width: 100%;
        overflow-y: visible!important
    }
    nav {
        .nav__btn--links {
            display: none;
            // color: red;
        }
    }
    #cart__wrapped {
        .cart {
            width: 100%;
        }
    }
}

@media only screen and (min-width:1024px) {
    .product__right {
        max-height: 700px !important;
    }
}