// <=============================================== advertisement ===============================================>
#advertisement {
    .advertisement__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 1.5fr;
        gap: 1rem;
        .advertisement__item {
            img {
                border-radius: 1rem;
                width: 100%;
                height: 100%;
            }
        }
        .advertisement__item1 {
            grid-column: 1/3;
        }
        .advertisement__item6 {
            grid-column: 1/3;
        }
        .advertisement__item5 {
            object-fit: cover;
            grid-column: 3/4;
            grid-row: 2/4;
        }
    }
}