@import '../Themes/color';
@import '../Component/buttonAddToCart';
// <================================ start cart =====================================>
#cart {
    position: absolute;
    top: 0;
    display: none;
    transition: all 0.3 ease;
    .cart {
        right: -70%;
        .cart__container {
            max-height: 676px;
            overflow-y: auto;
            .cart__item__select {
                border-bottom: 2px solid white;
                transition: all 0.3s;
                padding: 2px 4px;
                margin-bottom: 10px;
                .cart__item--img {
                    max-width: 50px;
                }
                .btn__delete {
                    width: 2rem;
                    &:hover {
                        i {
                            color: #B83930;
                        }
                    }
                    // height: 100%;
                    i {
                        font-size: 20px;
                    }
                }
                &:hover {
                    background-color: $backgroundColorTransparent;
                }
            }
        }
        .container__btn--bottom {
            margin-top: 20px;
            #purchase {
                @extend .add_to_cart;
                padding: 1.5rem;
                i {
                    margin-left: 5px;
                }
                margin-right: 30px;
            }
            #clear {
                padding: 1.5rem;
                transition: all 0.3s;
                i {
                    margin-left: 5px;
                }
                &:hover {
                    color: #B83930;
                }
            }
        }
    }
}

#cart.active {
    display: block;
    position: fixed;
    .overlay {
        display: block;
    }
    .cart {
        right: 0;
    }
}

// <================================ end cart =====================================>