@import '../Themes/color';
// <==================================================== NAV ====================================================>
nav.active {
    .nav__btn--links {
        display: block!important;
        div {
            a {
                text-align: center;
                padding: 10px 0;
                margin-right: 0!important;
            }
        }
    }
    .bag__btn {
        width: 100%;
        margin: 200px 0;
        .bag__btn-num {
            position: absolute;
            color: #000;
        }
    }

}

.bag__btn {
    color: white;
    transition: all 0.3;
    &:hover {
        .bag-icon {
            color: $greenColor;
        }
    }
}