#service {
    padding: 3rem;
    background-color: #e6e6e6;
    .service__item {
        color: #737373;
        text-align: center;
        img {
            filter: grayscale(100%) contrast(10%);
            margin: 0 auto;
            width: 5rem;
        }
    }
}