// <=============================================== start swiper ===============================================>
.swiper {
    width: 100%;
    z-index: -1;
    height: 300px;
    background-Color: $backgroundColorTransparent;
}

// <=============================================== end swiper ===============================================>