*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

td {
  border-top: none;
}

form {
  background-color: rgba(255, 255, 255, 0.3);
  width: 500px;
  height: 70%;
  border-radius: 10px;
  border: 1px solid white;
  padding: 4rem;
}

form .form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  border-radius: 0;
  border: none;
}

.overlay {
  opacity: 0.8;
}

.form-group {
  margin-bottom: 0;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  font-size: 25px;
}

#input__screen {
  overflow: hidden;
  width: 0;
  height: 0;
}

#input__screen .form__wrapped {
  top: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#input__screen .overlay {
  display: none;
}

#input__screen.active {
  width: 100%;
  height: 100vh;
}

#input__screen.active .form__wrapped {
  top: 0;
}

#input__screen.active .overlay {
  display: block;
}

.item .item__content img {
  width: 176px;
  height: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  height: 100vh;
}

#btn__login {
  display: block;
  padding: 1rem;
  background-color: black;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border-radius: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#853FA2), color-stop(#9E3F74), to(#B83930));
  background-image: linear-gradient(to right, #853FA2, #9E3F74, #B83930);
}

.list__wrapped {
  background-color: rgba(255, 255, 255, 0.3);
}

.form__container {
  background-color: rgba(255, 255, 255, 0.3);
}

.overlay {
  opacity: 0.8;
}

.form-group {
  margin-bottom: 0;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  font-size: 25px;
}

#input__screen {
  overflow: hidden;
  width: 0;
  height: 0;
}

#input__screen .form__wrapped {
  top: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#input__screen .overlay {
  display: none;
}

#input__screen.active {
  width: 100%;
  height: 100vh;
}

#input__screen.active .form__wrapped {
  top: 0;
}

#input__screen.active .overlay {
  display: block;
}

.item .item__content img {
  width: 176px;
  height: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */