nav.active .nav__btn--links {
  display: block !important;
}

nav.active .nav__btn--links div a {
  text-align: center;
  padding: 10px 0;
  margin-right: 0 !important;
}

nav.active .bag__btn {
  width: 100%;
  margin: 10px 0;
}

.bag__btn {
  color: white;
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

.bag__btn:hover .bag-icon {
  color: #A6FEC2;
}

.swiper {
  width: 100%;
  z-index: -1;
  height: 300px;
  background-Color: rgba(255, 255, 255, 0.3);
}

#advertisement .advertisement__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 1.5fr;
      grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 1rem;
}

#advertisement .advertisement__container .advertisement__item img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

#advertisement .advertisement__container .advertisement__item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#advertisement .advertisement__container .advertisement__item6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#advertisement .advertisement__container .advertisement__item5 {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.controler__btn {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.controler__btn--minus {
  position: relative;
  padding: 10px;
}

.controler__btn--minus:hover i {
  color: #A6FEC2;
}

.controler__btn--minus::after {
  position: absolute;
  content: "";
  top: 25%;
  right: 0;
  height: 20px;
  border-right: 1px solid;
  padding-right: 0;
}

.controler__btn .number {
  padding: 10px 5px;
}

.controler__btn--plus {
  position: relative;
  padding: 10px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.controler__btn--plus:hover i {
  color: #A6FEC2;
}

.controler__btn--plus::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  height: 20px;
  border-right: 1px solid;
  padding-right: 0;
}

.product__left {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 22px 80px;
  border: 1px solid white;
}

.product__left .product {
  max-width: 300px;
  margin: 0 auto;
}

.product__left .product__information__item {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  border-radius: 2px;
}

.controler__btn {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.controler__btn--minus {
  position: relative;
  padding: 10px;
}

.controler__btn--minus:hover i {
  color: #A6FEC2;
}

.controler__btn--minus::after {
  position: absolute;
  content: "";
  top: 25%;
  right: 0;
  height: 20px;
  border-right: 1px solid;
  padding-right: 0;
}

.controler__btn .number {
  padding: 10px 5px;
}

.controler__btn--plus {
  position: relative;
  padding: 10px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.controler__btn--plus:hover i {
  color: #A6FEC2;
}

.controler__btn--plus::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  height: 20px;
  border-right: 1px solid;
  padding-right: 0;
}

.product__left {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 22px 80px;
  border: 1px solid white;
}

.product__left .product {
  max-width: 300px;
  margin: 0 auto;
}

.product__left .product__information__item {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  border-radius: 2px;
}

.controler__btn {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.controler__btn--minus {
  position: relative;
  padding: 10px;
}

.controler__btn--minus:hover i {
  color: #A6FEC2;
}

.controler__btn--minus::after {
  position: absolute;
  content: "";
  top: 25%;
  right: 0;
  height: 20px;
  border-right: 1px solid;
  padding-right: 0;
}

.controler__btn .number {
  padding: 10px 5px;
}

.controler__btn--plus {
  position: relative;
  padding: 10px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.controler__btn--plus:hover i {
  color: #A6FEC2;
}

.controler__btn--plus::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  height: 20px;
  border-right: 1px solid;
  padding-right: 0;
}

.item {
  background: rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item img.product {
  max-width: 60%;
  margin: 0 auto;
}

.item:hover {
  background: rgba(0, 0, 0, 0.5);
}

.item__card--btn {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.item__card--btn:hover {
  color: #A6FEC2;
  border: 1px solid white;
}

.item .item__content img {
  width: 11rem;
  height: 11rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}

.add_to_cart, #cart .cart .container__btn--bottom #purchase {
  font-weight: bold;
  color: #A6FEC2;
  padding: 9px;
  background: rgba(177, 234, 194, 0.5);
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.add_to_cart .fa-bag-shopping, #cart .cart .container__btn--bottom #purchase .fa-bag-shopping {
  position: relative;
}

.add_to_cart .fa-bag-shopping::after, #cart .cart .container__btn--bottom #purchase .fa-bag-shopping::after {
  position: absolute;
  content: "";
  border-right: 1px dashed rgba(177, 234, 194, 0.5);
  height: 100%;
  top: 0;
  right: 0;
}

.add_to_cart:hover, #cart .cart .container__btn--bottom #purchase:hover {
  color: white;
  background-color: rgba(127, 184, 144, 0.5);
}

#cart {
  position: absolute;
  top: 0;
  display: none;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

#cart .cart {
  right: -70%;
}

#cart .cart .cart__container {
  max-height: 676px;
  overflow-y: auto;
}

#cart .cart .cart__container .cart__item__select {
  border-bottom: 2px solid white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 2px 4px;
  margin-bottom: 10px;
}

#cart .cart .cart__container .cart__item__select .cart__item--img {
  max-width: 50px;
}

#cart .cart .cart__container .cart__item__select .btn__delete {
  width: 2rem;
}

#cart .cart .cart__container .cart__item__select .btn__delete:hover i {
  color: #B83930;
}

#cart .cart .cart__container .cart__item__select .btn__delete i {
  font-size: 20px;
}

#cart .cart .cart__container .cart__item__select:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#cart .cart .container__btn--bottom {
  margin-top: 20px;
}

#cart .cart .container__btn--bottom #purchase {
  padding: 1.5rem;
  margin-right: 30px;
}

#cart .cart .container__btn--bottom #purchase i {
  margin-left: 5px;
}

#cart .cart .container__btn--bottom #clear {
  padding: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cart .cart .container__btn--bottom #clear i {
  margin-left: 5px;
}

#cart .cart .container__btn--bottom #clear:hover {
  color: #B83930;
}

#cart.active {
  display: block;
  position: fixed;
}

#cart.active .overlay {
  display: block;
}

#cart.active .cart {
  right: 0;
}

@media only screen and (max-width: 640px) {
  .product__left {
    width: 100%;
    margin-bottom: 10px;
    padding: 1rem;
  }
  .product__left .product__left__content img {
    max-width: 200px;
  }
  .product__left .add_to_cart, .product__left #cart .cart .container__btn--bottom #purchase, #cart .cart .container__btn--bottom .product__left #purchase {
    font-size: 10px;
  }
  .product__right {
    width: 100%;
    overflow-y: visible !important;
  }
  nav .nav__btn--links {
    display: none;
  }
  #cart__wrapped .cart {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .product__right {
    max-height: 700px !important;
  }
}

.add_to_cart, #cart .cart .container__btn--bottom #purchase {
  font-weight: bold;
  color: #A6FEC2;
  padding: 9px;
  background: rgba(177, 234, 194, 0.5);
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.add_to_cart .fa-bag-shopping, #cart .cart .container__btn--bottom #purchase .fa-bag-shopping {
  position: relative;
}

.add_to_cart .fa-bag-shopping::after, #cart .cart .container__btn--bottom #purchase .fa-bag-shopping::after {
  position: absolute;
  content: "";
  border-right: 1px dashed rgba(177, 234, 194, 0.5);
  height: 100%;
  top: 0;
  right: 0;
}

.add_to_cart:hover, #cart .cart .container__btn--bottom #purchase:hover {
  color: white;
  background-color: rgba(127, 184, 144, 0.5);
}

.product__right {
  overflow-y: auto;
}

#service {
  padding: 3rem;
  background-color: #e6e6e6;
}

#service .service__item {
  color: #737373;
  text-align: center;
}

#service .service__item img {
  -webkit-filter: grayscale(100%) contrast(10%);
          filter: grayscale(100%) contrast(10%);
  margin: 0 auto;
  width: 5rem;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#853FA2), color-stop(#9E3F74), to(#B83930));
  background-image: linear-gradient(to right, #853FA2, #9E3F74, #B83930);
}
/*# sourceMappingURL=main.css.map */