@import './Themes/color';
@import './Layouts/nav';
@import './Layouts/swiper';
@import './Layouts/advertisement';
@import './Component/introduct_Item';
@import './Component/product_item';
@import './Layouts/cart';
@import './Themes/responsive';
@import './Component/buttonAddToCart';
@import './Layouts/productHeader';
// @import './Layouts/service';
@import './Layouts/service';
body {
    background-image: linear-gradient( to right, #853FA2, #9E3F74, #B83930);
}

// <================================ start form product =====================================>
// .controler {
//     .controler__left {
//         h2 {
//             margin-right: 20px;
//             font-size: 25px;
//             margin-bottom: 0;
//             ;
//         }
//     }
// }
// <================================ end form product =====================================>