@mixin buttonLogin {
    display: block;
    padding: 1rem;
    background-color: black;
    width: 100%;
    color: $neutrol-0;
    border-radius: 10px;
    font-weight: bold;
    border-radius: 0;
}