.overlay {
    opacity: 0.8;
}

.form-group {
    margin-bottom: 0;
    label {
        font-weight: bold;
    }
    input {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 15px;
        font-size: 25px;
    }
}

#input__screen {
    overflow: hidden;
    width: 0;
    height: 0;
    .form__wrapped {
        top: 100%;
        transition: all 0.5s;
    }
    .overlay {
        display: none;
    }
}

#input__screen.active {
    width: 100%;
    height: 100vh;
    .form__wrapped {
        top: 0;
    }
    .overlay {
        display: block;
    }
}

.item {
    .item__content {
        img {
            width: 176px;
            height: 176px;
            object-fit: cover;
        }
    }
}